*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;
}
header{
  background-color: #252525;
  height: 80px;
}
header .logo {
  color: #E50914;
  font-size: 22px;
  padding: 20px;
}

main{
  background-color: #393e46;
  min-height: calc(100vh - 80px);
}
main .user-interaction {
  padding: 20px 0 0 20px;
}
.user-interaction input:focus{
  outline: none!important;
}
.main-panel{
display: flex;
flex-wrap: wrap;

}
.main-panel .movies{
  height: 300px;
  margin-left: 100px;
  margin-top: 100px;
}
.main-panel .poster{
  height: 100%;
  width: 100%;
}
.movies{
  position: relative;
  border: 1px solid black;
  height: 300px;
  width: 200px;
  box-shadow: 1px 2px 4px #000;
  border-radius: 5px;
  overflow: hidden;  

}
.movies .poster {
  height: 100%;
}
.info, .lang, .overview, .vote {
  padding: 10px;
}

.movies .flag{
  height: 15px;
}
.movies .overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  overflow-y: auto;
  transition: opacity 1.5s;
}

.movies:hover .poster{
opacity: 0;
}
.movies:hover .overlay{
  opacity: 0.9;
  z-index: 10;
}
