*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;
}
.top-main{
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.top-main .logo {
  color: #E50914;
  font-size: 22px;

}

main{
    background-color: #252525;
    min-height: 100vh;
    padding-bottom: 25px;
}
.user-interaction button {
background-color: #E50914;
border: none;
padding: 2px;
border-radius: 2px;
}
.user-interaction input{
  border: none;
}
.user-interaction input:focus{
  outline: none!important;
}
.main-panel{
display: flex;
flex-wrap: wrap;

}
.main-panel .movies{
  height: 300px;
  margin-left: 100px;
  margin-top: 100px;
}
.main-panel .poster{
  height: 100%;
  width: 100%;
}
.movies{
  position: relative;
  border: 1px solid black;
  height: 300px;
  width: 200px;
  box-shadow: 1px 2px 4px #000;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

}

::-webkit-scrollbar{
  width: 3px;
  background-color: #E50914;
  border-radius: 10px;
}

.movies .poster {
  height: 100%;
}
.info, .lang, .overview, .vote {
  padding: 10px;
}
.info h4{
  display: inline-block;
  padding-top: 5px;
}
.info i{
  display: block;
}

.movies .flag{
  height: 15px;
}
.movies .overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  overflow-y: auto;
  transition: opacity 2s;
}
.info, .overview, .vote, .lang {
  color: #f7f4e3;

}
.no-overview{
  color: #f7f4e3;

}
.movies:hover .poster{
opacity: 0;
}
.movies:hover .overlay{
  opacity: 0.9;
  z-index: 10;
}
