<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <title>Boolflix</title>
</head>
<body>
  <main id="app">

    <div class="top-main">
      <div class="logo"> <h3>BOOLFLIX</h3> </div>
      <div class="user-interaction">
        <input type="text" name="" value="" v-model="search" v-on:keyup.enter = "moviesearch">
        <button type="button" name="button" v-on:click="moviesearch"><i class="fas fa-search"></i></button>

      </div>
    </div>

    <div class="main-panel">
      <div class="movies" v-for="item in moviesAndTV">
      <img class="poster" v-bind:src="( item.poster_path ? 'https://image.tmdb.org/t/p/w300'  + item.poster_path : 'img/404.jpg' )" alt="item.title">
       <div class="overlay">
         <div class="info">
           <i v-if="item.title" class="fas fa-film"></i> <i v-else class="fas fa-tv"></i> <h4>{{item.title}}{{item.name}}</h4>

         </div>
         <!-- <div v-if="item.name" class="info">
         <i class="fas fa-tv"></i>
         </div> -->
           <div class="lang">


             <img class="flag" v-if="item.original_language =='en'" src="img/uk.png" alt="">
             <img class="flag" v-else-if="item.original_language =='it'" src="img/ita.png" alt="">
            <img class="flag" v-else-if="item.original_language =='es'" src="img/esp.png" alt="">
            <img class="flag" v-else-if="item.original_language =='fr'" src="img/fra.png" alt="">
            <img class="flag" v-else-if="item.original_language =='ja'" src="img/jap.png" alt="">

       <!-- <i v-else class="far fa-flag"></i> -->

         </div>
         <div class="overview">
           <p>{{item.overview}}</p>
         </div>
         <!-- <div v-else class="no-overview">
           <h3>{{item.title}}</h3>
         </div> -->
         <div class="vote">
           <span v-if="item.vote_average < 1">
              <i class="far fa-star"></i>
               <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                 <i class="far fa-star"></i>
                  <i class="far fa-star"></i>


           </span>
           <span v-else-if="item.vote_average == 1">
             <i class="fas fa-star"></i>
             <i class="far fa-star"></i>
             <i class="far fa-star"></i>
             <i class="far fa-star"></i>
             <i class="far fa-star"></i>
           </span>
           <span v-else-if="item.vote_average == 2">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="far fa-star"></i>
             <i class="far fa-star"></i>
             <i class="far fa-star"></i>
           </span>
           <span v-else-if="item.vote_average == 3">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="far fa-star"></i>
             <i class="far fa-star"></i>
           </span>
           <span v-else-if="item.vote_average == 4">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="far fa-star"></i>
           </span>
           <span v-else-if="item.vote_average == 5">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
           </span>
           <!-- <span v-else-if ="item.vote_average =="></span> -->
         </div>


       </div>
      </div>
    </div>

  </main>
  <script src="js/myscript.js" charset="utf-8"></script>
</body>
</html>
